
part2/course1/iclogger/.dfx/replica-configuration/replica-pid
part2/course1/iclogger/.dfx/icx-proxy-pid
part2/course1/iclogger/.dfx/icx-proxy-pid
part2/course1/iclogger/.dfx/pid
part2/course1/iclogger/.dfx/replica-configuration/replica-1.port
part2/course1/iclogger/.dfx/replica-configuration/replica-pid
part2/course1/iclogger/.dfx/icx-proxy-pid
part2/course1/iclogger/.dfx/icx-proxy-pid
part2/course1/iclogger/.dfx/pid
part2/course1/iclogger/.dfx/replica-configuration/replica-1.port
part2/course1/iclogger/.dfx/replica-configuration/replica-pid
part2/course1/iclogger/.dfx/icx-proxy-pid
part2/course1/iclogger/.dfx/local/canister_ids.json
part2/course1/iclogger/.dfx/local/canisters/iclogger/iclogger.did
part2/course1/iclogger/.dfx/local/canisters/iclogger/iclogger.did.d.ts
part2/course1/iclogger/.dfx/local/canisters/iclogger/iclogger.did.js
part2/course1/iclogger/.dfx/local/canisters/iclogger/iclogger.most
part2/course1/iclogger/.dfx/local/canisters/iclogger/iclogger.wasm
part2/course1/iclogger/.dfx/local/canisters/iclogger/index.js
part2/course1/iclogger/.dfx/local/canisters/iclogger_assets/assets/favicon.ico
part2/course1/iclogger/.dfx/local/canisters/iclogger_assets/assets/index.html
part2/course1/iclogger/.dfx/local/canisters/iclogger_assets/assets/index.js
part2/course1/iclogger/.dfx/local/canisters/iclogger_assets/assets/index.js.map
part2/course1/iclogger/.dfx/local/canisters/iclogger_assets/assets/logo.png
part2/course1/iclogger/.dfx/local/canisters/iclogger_assets/assets/main.css
part2/course1/iclogger/.dfx/local/canisters/iclogger_assets/assets/sample-asset.txt
part2/course1/iclogger/.dfx/local/canisters/iclogger_assets/assetstorage.did
part2/course1/iclogger/.dfx/local/canisters/iclogger_assets/assetstorage.wasm
part2/course1/iclogger/.dfx/local/canisters/iclogger_assets/iclogger_assets.did
part2/course1/iclogger/.dfx/local/canisters/iclogger_assets/iclogger_assets.did.d.ts
part2/course1/iclogger/.dfx/local/canisters/iclogger_assets/iclogger_assets.did.js
part2/course1/iclogger/.dfx/local/canisters/iclogger_assets/iclogger_assets.wasm
part2/course1/iclogger/.dfx/local/canisters/iclogger_assets/index.js
part2/course1/iclogger/.dfx/local/wallets.json
part2/course1/iclogger/.dfx/pid
part2/course1/iclogger/.dfx/replica-configuration/replica-pid
part2/course1/iclogger/.dfx/state/replicated_state/catch_up_package_contents_jrbj7-4mj6u-ciegk-zvist-vlwht-btinr-oa43m-rv4jg-juitm-iikpl-bae.pb
part2/course1/iclogger/.dfx/state/replicated_state/catch_up_package_contents_y3ndf-x5nhb-hodsb-4a22j-owqdu-ukks6-uzfas-legqf-gsumv-irx2t-pqe.pb
part2/course1/iclogger/.dfx/state/replicated_state/crypto_threshold_signing_public_key_jrbj7-4mj6u-ciegk-zvist-vlwht-btinr-oa43m-rv4jg-juitm-iikpl-bae.pb
part2/course1/iclogger/.dfx/state/replicated_state/crypto_threshold_signing_public_key_y3ndf-x5nhb-hodsb-4a22j-owqdu-ukks6-uzfas-legqf-gsumv-irx2t-pqe.pb
part2/course1/iclogger/.dfx/state/replicated_state/ic.json5
part2/course1/iclogger/.dfx/state/replicated_state/ic_registry_local_store/0000000000/00/00/01.pb
part2/course1/iclogger/.dfx/state/replicated_state/ic_registry_local_store/time.local_store.v1.CertificationTime.pb
part2/course1/iclogger/.dfx/state/replicated_state/nns_public_key.pem
part2/course1/iclogger/.dfx/state/replicated_state/nns_subnet_id.pb
part2/course1/iclogger/.dfx/state/replicated_state/node-100/committee_signing_key
part2/course1/iclogger/.dfx/state/replicated_state/node-100/crypto/public_keys.pb
part2/course1/iclogger/.dfx/state/replicated_state/node-100/crypto/sks_data.pb
part2/course1/iclogger/.dfx/state/replicated_state/node-100/crypto_record_etn7a-l5s7g-sxwe5-k2am4-psfeb-2imup-zucki-x4ezg-vhddd-ramad-7ae_1.pb
part2/course1/iclogger/.dfx/state/replicated_state/node-100/crypto_record_etn7a-l5s7g-sxwe5-k2am4-psfeb-2imup-zucki-x4ezg-vhddd-ramad-7ae_3.pb
part2/course1/iclogger/.dfx/state/replicated_state/node-100/crypto_record_etn7a-l5s7g-sxwe5-k2am4-psfeb-2imup-zucki-x4ezg-vhddd-ramad-7ae_4.pb
part2/course1/iclogger/.dfx/state/replicated_state/node-100/crypto_record_etn7a-l5s7g-sxwe5-k2am4-psfeb-2imup-zucki-x4ezg-vhddd-ramad-7ae_5.pb
part2/course1/iclogger/.dfx/state/replicated_state/node-100/crypto_record_zpnwf-vb44a-a7djj-p57jp-px6sh-vevn2-4g5t4-l7bzc-m5pej-xhshk-eae_1.pb
part2/course1/iclogger/.dfx/state/replicated_state/node-100/crypto_record_zpnwf-vb44a-a7djj-p57jp-px6sh-vevn2-4g5t4-l7bzc-m5pej-xhshk-eae_3.pb
part2/course1/iclogger/.dfx/state/replicated_state/node-100/crypto_record_zpnwf-vb44a-a7djj-p57jp-px6sh-vevn2-4g5t4-l7bzc-m5pej-xhshk-eae_4.pb
part2/course1/iclogger/.dfx/state/replicated_state/node-100/crypto_record_zpnwf-vb44a-a7djj-p57jp-px6sh-vevn2-4g5t4-l7bzc-m5pej-xhshk-eae_5.pb
part2/course1/iclogger/.dfx/state/replicated_state/node-100/crypto_tls_cert_etn7a-l5s7g-sxwe5-k2am4-psfeb-2imup-zucki-x4ezg-vhddd-ramad-7ae.pb
part2/course1/iclogger/.dfx/state/replicated_state/node-100/crypto_tls_cert_zpnwf-vb44a-a7djj-p57jp-px6sh-vevn2-4g5t4-l7bzc-m5pej-xhshk-eae.pb
part2/course1/iclogger/.dfx/state/replicated_state/node-100/derived_node_id
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/certification/000003.log
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/certification/000011.log
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/certification/000013.sst
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/certification/000014.log
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/certification/000016.sst
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/certification/IDENTITY
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/certification/LOG
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/certification/MANIFEST-000004
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/certification/OPTIONS-000008
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/certification/OPTIONS-000010
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/000003.log
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/000031.log
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/000033.sst
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/000035.sst
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/000037.sst
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/000039.sst
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/000041.sst
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/000043.sst
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/000045.sst
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/000047.sst
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/000049.sst
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/000051.sst
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/000053.sst
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/IDENTITY
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/LOG
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/MANIFEST-000004
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/OPTIONS-000028
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ic_consensus_pool/consensus/OPTIONS-000030
part2/course1/iclogger/.dfx/state/replicated_state/node-100/idkg_mega_encryption_key
part2/course1/iclogger/.dfx/state/replicated_state/node-100/ni_dkg_dealing_encryption_key
part2/course1/iclogger/.dfx/state/replicated_state/node-100/node_record_etn7a-l5s7g-sxwe5-k2am4-psfeb-2imup-zucki-x4ezg-vhddd-ramad-7ae.pb
part2/course1/iclogger/.dfx/state/replicated_state/node-100/node_record_zpnwf-vb44a-a7djj-p57jp-px6sh-vevn2-4g5t4-l7bzc-m5pej-xhshk-eae.pb
part2/course1/iclogger/.dfx/state/replicated_state/node-100/node_signing_key
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/0000000000000064/bitcoin/testnet/state.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/0000000000000064/canister_states/00000000000000000101/canister.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/0000000000000064/canister_states/00000000000000000101/queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/0000000000000064/canister_states/00000000000000000101/software.wasm
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/0000000000000064/canister_states/00000000000000000101/stable_memory.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/0000000000000064/canister_states/00000000000000000101/vmemory_0.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/0000000000000064/canister_states/00000000000000010101/canister.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/0000000000000064/canister_states/00000000000000010101/queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/0000000000000064/canister_states/00000000000000020101/canister.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/0000000000000064/canister_states/00000000000000020101/queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/0000000000000064/subnet_queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/0000000000000064/system_metadata.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/bitcoin/testnet/state.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000000101/canister.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000000101/queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000000101/software.wasm
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000000101/stable_memory.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000000101/vmemory_0.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000010101/canister.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000010101/queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000010101/software.wasm
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000010101/stable_memory.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000010101/vmemory_0.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000020101/canister.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000020101/queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000020101/software.wasm
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000020101/stable_memory.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000020101/vmemory_0.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000030101/canister.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000030101/queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000030101/software.wasm
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000030101/stable_memory.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/canister_states/00000000000000030101/vmemory_0.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/subnet_queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/00000000000000c8/system_metadata.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/bitcoin/testnet/state.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000000101/canister.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000000101/queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000000101/software.wasm
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000000101/stable_memory.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000000101/vmemory_0.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000010101/canister.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000010101/queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000010101/software.wasm
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000010101/stable_memory.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000010101/vmemory_0.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000020101/canister.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000020101/queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000020101/software.wasm
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000020101/stable_memory.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000020101/vmemory_0.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000030101/canister.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000030101/queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000030101/software.wasm
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000030101/stable_memory.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/canister_states/00000000000000030101/vmemory_0.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/subnet_queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/checkpoints/000000000000012c/system_metadata.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/states_metadata.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/bitcoin/testnet/state.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000000101/canister.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000000101/queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000000101/software.wasm
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000000101/stable_memory.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000000101/vmemory_0.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000010101/canister.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000010101/queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000010101/software.wasm
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000010101/stable_memory.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000010101/vmemory_0.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000020101/canister.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000020101/queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000020101/software.wasm
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000020101/stable_memory.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000020101/vmemory_0.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000030101/canister.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000030101/queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000030101/software.wasm
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000030101/stable_memory.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/canister_states/00000000000000030101/vmemory_0.bin
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/subnet_queues.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/tip/system_metadata.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/transport_tls_certificate
part2/course1/iclogger/.dfx/state/replicated_state/registry.proto
part2/course1/iclogger/.dfx/state/replicated_state/routing_table.pb
part2/course1/iclogger/.dfx/state/replicated_state/subnet_list.pb
part2/course1/iclogger/.dfx/state/replicated_state/subnet_record_jrbj7-4mj6u-ciegk-zvist-vlwht-btinr-oa43m-rv4jg-juitm-iikpl-bae.pb
part2/course1/iclogger/.dfx/state/replicated_state/subnet_record_y3ndf-x5nhb-hodsb-4a22j-owqdu-ukks6-uzfas-legqf-gsumv-irx2t-pqe.pb
*.log
*.pbuf
*.pb
*.log
*.pbuf
*.pbuf
*.pbuf
part2/course1/iclogger/.dfx/state/replicated_state/node-100/state/states_metadata.pbuf
